*{margin: 0;padding: 0;}
ul,ol{list-style: none;}
a{color: #000; text-decoration: none;}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #000; 
}
body{
    -ms-overflow-style: none;
    }
    
   ::-webkit-scrollbar {
     display: none;
   }

/*logo_공통*/
#logo{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}
/*pc_960*/
@media (min-width:1420px){
    #header{
        width: 1420px;
        margin: 0 auto;
        height: 280px;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center ;
    }
}
/*tablet_601-959*/
@media (min-width:601px) and (max-width:820px){
    #header{
        width: 100%;
        height: 160px;
        background-image: url(../images/bg.png);
        background-repeat: no-repeat;
        background-position: center top;
    }
    #header h1{
        padding: 66px 0px 0;
        text-align: center;
    }
    #header h1 a{
        font-size: 30px;
        color: #fff;
    }
}
/*mobile_600*/
@media (max-width:600px){
    #header{
        width: 100%;
        background-color: rgb(49, 49, 49);
    }
    #header h1{
        padding: 40px 0px;
        text-align: center;
    }
    #header h1 a{
        font-size: 40px;
        color: rgb(253, 236, 42);
    }
    .jb-box {display: none;}
  
    
}
/*gnb*/
#gnb{
    width: 1420px;
    margin: auto;
    background-color: #fff;
    display: flex;/*자식요소 가운데*/
    justify-content: center;
}
#gnb ul{
    width: 70%;
    display: flex;/*4개의 자식요소 옆쪽배치*/
    flex-wrap: wrap;/*mobile때문!!*/
    text-align: center;
    justify-content: center;/*mobile때문!!*/
}
#gnb ul li{
    width: 25%;
    padding: 16px 0;
}
#gnb ul li a{
    font-family: 'Pretendard-Regular';
    color: #6fadd6;
    font-size: 16px;
    font-weight: 550;
}
#gnb ul li a:hover{
    color: #adadad;
}
/*tablet*/
@media (max-width:820px){
    #gnb{
        width: 100%;
    }
    #gnb ul{
        width: 100%;
    }
}
/*mobile*/
@media (max-width:600px){
    #gnb{
        background-color: #fff;
        padding: 15px 0;
    }
    #gnb ul li{
        width: 90%;
        padding: 10px 0;
    }
    #gnb ul li a{
        display: block;
        padding: 10px 0px;
        color: rgb(39, 39, 39);
        font-size: 16px;
        border: 1px solid #333;
        border-radius: 10px ;
    }
    
}
/*container*/
#container{
    width: 1420px;
    margin: 170px auto 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 800px;
}
.content{
    flex: 4 4 0;
    padding-right: 2vw;
}
.content h2{
    text-align: center;
    font-family: 'Pretendard-Regular';
    color: #555;
    font-size: 25px;
    padding-top: 50px;
}
#section1{
    width: 1420px;
}
.top_box1{
    float: left;
    width: 560px;
}
.top_box2{
    float: right;
    width: 850px;
}
.mobile_top{
    display: none;
}
#container2{
    width: 1420px;
    margin: 170px auto 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 960px;
    position: relative;
}
.content2{
    flex: 4 4 0;
    padding-right: 2vw;
}
.content2 h2{
    text-align: center;
    font-family: 'Pretendard-Regular';
    color: #555;
    font-size: 25px;
    padding-top: 50px;
}
.botten{
    width: 381px;
    height: 60px;
    border-radius: 150px;
    border: #333 solid 1px;
    box-shadow: 1px 2px 2px rgb(0, 0, 0, 0.3)inset;
    position: absolute;
    top: 78%;
    left: 38%;
    z-index: 9;
}
.botten a{
    color: #555;
    font-size: 20px;
    display: block;
    font-weight: 900;
    line-height: 58px; 
    text-align: center;
}

/*tablet*/
@media (max-width:820px){
    #container{
        width: 100%;
        margin: 100px auto 0;
        display: block;
        height: 800px;
    }
    .content{
        flex: 4 4 0;
        padding-right: 2vw;
    }
    .content h2{
        text-align: center;
        font-family: 'Pretendard-Regular';
        color: #555;
        font-size: 20px;
    }
     #section1{
        width: 100%;
    }
    .top_box1 img{
        width: 75%;
    }
    .mobile_top{
        width: 100%;
        display: block;
        text-align: center;
        font-family: 'Pretendard-Regular';
        padding-top: 50px;
        line-height: 25px;
        font-size: 16px;
        color: #555;
    }
    .top_box2{
        display: none;
    }
    #container2{
        width: 100%;
        margin: 30px auto 0;
        display: block;
        height: 450px;
        position: relative;
}
     .content2 h2{
        text-align: center;
        font-family: 'Pretendard-Regular';
        color: #555;
        font-size: 20px;
}
    .mid_box img{
        padding-top: 50px;
        width: 29%;
    }
    .botten{
        height: 45px;
        display: block;
        width: 60%;
        top: 75%;
        left: 20%;
        z-index: 9;
    }
    .botten a{
        color: #555;
        font-size: 17px;
        display: block;
        font-weight: 900;
        line-height: 45px; 
        text-align: center;
    }
}
/*mobile*/
@media (max-width:600px){
    #container{
        width: 100%;
        margin: 100px auto 0;
        display: block;
        height: 800px;
    }
    .content{
        flex: 4 4 0;
        padding-right: 2vw;
    }
    .content h2{
        text-align: center;
        font-family: 'Pretendard-Regular';
        color: #555;
        font-size: 20px;
        padding-left: 15px;
    }
    .top_box1 img{
        width: 75%;
        padding-left: 9px;
    }
    .mobile_top{
        width: 100%;
        display: block;
        text-align: center;
        font-family: 'Pretendard-Regular';
        padding-top: 50px;
        line-height: 25px;
        font-size: 16px;
        color: #555;
    }
    #container2{
        width: 100%;
        margin: 30px auto 0;
        display: block;
        height: 450px;
        position: relative;
}
     .content2 h2{
        text-align: center;
        font-family: 'Pretendard-Regular';
        color: #555;
        font-size: 20px;
}
    .mid_box img{
        padding-top: 50px;
        width: 29%;
    }
    .botten{
        height: 45px;
        display: block;
        width: 60%;
        top: 75%;
        left: 20%;
        z-index: 9;
    }
    .botten a{
        color: #555;
        font-size: 17px;
        display: block;
        font-weight: 900;
        line-height: 45px; 
        text-align: center;
    }
}
#section{
    width: 100%;
    text-align: center;
}
#section ul{
    overflow: hidden;/*높이인식*/
}
#section ul li{
    float: left;
    width: 100%;
    height: 598px;
    position: relative;
    overflow: hidden;/* scale로 커진부분 내용안보이게!!!!*/
}
#section ul li:nth-child(2){
    margin: 0 50px;
}
#section ul li img{
    width: 1920px;
}
.p_text p{
    padding-top: 250px;
    font-size: 30px;
    line-height: 45px;
    font-family: 'Pretendard-Regular';
}
.p_text{/*평소안보임*/
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(119, 119, 119, 0.5);
    color: #fff;  
    opacity: 0;
}

#section ul li a:hover .p_text{
    /*hover시,보임*/
    opacity: 1;
    transform: scale(1.2);
    transition: all 1s;
}


#section ul li a:hover .p_text{
    /*hover시,보임*/
    opacity: 1;
    transform: scale(1.2);
    transition: all 1s;
}
/*mobile*/
@media (max-width:600px){
    #section{
        display: none;
    }
    
}
#mid_wrap{
    height: 980px;
    background-color: #e0f1fd;
}
.mid{
    font-family: 'Pretendard-Regular';
    width: 1420px;
    margin: 0 auto;
}
.title1{
    padding-top: 100px;
    padding-left: 8px;
    padding-bottom: 50px;
    text-align: center;
}
.mid_box1{
    width: 400px;
    height: 552px;
    text-align: center;
    box-shadow: 1px 4px 4px rgb(0, 0, 0, 0.3);
    float: left;
    margin-right: 110px;
    background-color: #fff;
}
.mid_box1 li{
    display: block;
    padding-bottom: 12px;   
}
.mid_box1 li img{
    opacity: 1;
}
.mid_box1 li img:hover{
    opacity: 0.5;
}
.mid_box1 h2{
    font-size: 18px;
    color: #222;
}
.mid_box1 p{
    font-size: 14px;
    color: #222;
}
.mid_box1 h3{
    font-size: 16px;
    color: #222;
}
.mid_box2{
    width: 400px;
    height: 552px;
    text-align: center;
    box-shadow: 1px 4px 4px rgb(0, 0, 0, 0.3);
    float: left;
    margin-right: 110px;
    background-color: #fff;
}
.mid_box2 li{
    display: block;
    padding-bottom: 12px;
}
.mid_box2 li img{
    opacity: 1;
}
.mid_box2 li img:hover{
    opacity: 0.5;
}
.mid_box2 h2{
    font-size: 18px;
    color: #222;
}
.mid_box2 p{
    font-size: 14px;
    color: #222;
}
.mid_box2 h3{
    font-size: 16px;
    color: #222;
}
.mid_box3{
    width: 400px;
    height: 552px;
    text-align: center;
    box-shadow: 1px 4px 4px rgb(0, 0, 0, 0.3);
    float: left;
    background-color: #fff;
}
.mid_box3 li{
    display: block;
    padding-bottom: 12px;
}
.mid_box3 li img{
    opacity: 1;
}
.mid_box3 li img:hover{
    opacity: 0.5;
}
.mid_box3 h2{
    font-size: 18px;
    color: #222;
}
.mid_box3 p{
    font-size: 14px;
    color: #222;
}
.mid_box3 h3{
    font-size: 16px;
    color: #222;
}
/*mobile*/
@media (max-width:600px){
    #mid_wrap{
        width: 100%;
        height: 1750px;
        background-color: #e0f1fd;
    }
    .mid{
        font-family: 'Pretendard-Regular';
        width: 59%;
        margin: 0 auto;
        padding-right: 26px;
    }
    .title1{
        padding-top: 100px;
        margin-left: -17px;
        padding-bottom: 50px;
        text-align: center;
    }
    .mid_box1{
        width: 117%;
        height: 450px;
        text-align: center;
        box-shadow: 1px 4px 4px rgb(0, 0, 0, 0.3);
        float: left;
        margin-right: 110px;
        background-color: #fff;
        margin-bottom: 30px;
    }
    .mid_box1 li{
        display: block;
        padding-bottom: 12px;   
    }
    .mid_box1 li img{
        opacity: 1;
        width: 100%;
    }
    .mid_box1 li img:hover{
        opacity: 0.5;
    }
    .mid_box1 h2{
        font-size: 18px;
        color: #222;
    }
    .mid_box1 p{
        font-size: 14px;
        color: #222;
    }
    .mid_box1 h3{
        font-size: 16px;
        color: #222;
    }
    .mid_box2{
        width: 117%;
        height: 450px;
        text-align: center;
        box-shadow: 1px 4px 4px rgb(0, 0, 0, 0.3);
        float: left;
        margin-right: 110px;
        background-color: #fff;
        margin-bottom: 30px;
    }
    .mid_box2 li{
        display: block;
        padding-bottom: 12px;
    }
    .mid_box2 li img{
        opacity: 1;
        width: 100%;
    }
    .mid_box2 li img:hover{
        opacity: 0.5;
    }
    .mid_box2 h2{
        font-size: 18px;
        color: #222;
    }
    .mid_box2 p{
        font-size: 14px;
        color: #222;
    }
    .mid_box2 h3{
        font-size: 16px;
        color: #222;
    }
    .mid_box3{
        width: 117%;
        height: 450px;
        text-align: center;
        box-shadow: 1px 4px 4px rgb(0, 0, 0, 0.3);
        float: left;
        background-color: #fff;
        margin-bottom: 30px;
    }
    .mid_box3 li{
        display: block;
        padding-bottom: 12px;
    }
    .mid_box3 li img{
        opacity: 1;
        width: 100%;
    }
    .mid_box3 li img:hover{
        opacity: 0.5;
    }
    .mid_box3 h2{
        font-size: 18px;
        color: #222;
    }
    .mid_box3 p{
        font-size: 14px;
        color: #222;
    }
    .mid_box3 h3{
        font-size: 16px;
        color: #222;
    }
    
}
/*footer*/
#footer{
    font-family: 'Pretendard-Regular';
    margin: 0 auto;
    height: 280px;
    background-color: #FFF;
    position: relative;   
}
#footer p{
    text-align: center;
    padding-top: 50px;
    font-size: 15px;
    font-weight: 100;
    color: #545454;
}
.footer_icon{
    position: absolute;
    top: 70%;
    left: 45%;
}
.footer_icon li{
    display: block;
    float: left;
    padding-right: 20px;
    
}
.footer_icon li a{

}
/*tablet 601-959*/
@media (min-width:601px) and (max-width:959px) {
    #footer{
        width: 100%;
    }
}
/*mobile 600*/
@media (max-width:600px) {
    #footer{
        width: 100%;
        height: 270px;
    }
    #footer p{
        text-align: center;
        padding-top: 50px;
        font-size: 11px;
        color: #545454;
        line-height: 20px;
    }
    .footer_icon{
        width: 75%;
        top: 63%;
        left: 29%;
    }
}
